<div class="popup-content-max">
    <div class="tree">
        <ul>
            <li>
                <a>Champion</a>
                <ul>
                    <li>
                        <a>Finalist 1</a>
                        <ul>
                            <li>
                                <a>{{ player1.pseudo }}</a>
                            </li>
                            <li>
                                <a>{{ player2.pseudo }}</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>Finalist 2</a>
                        <ul>
                            <li><a>{{ player3.pseudo }}</a></li>
                            <li>
                                <a>{{ player4.pseudo }}</a>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <a class="popup-exit" onclick="closeTournamentPop()">Close</a>
</div>
