/* second backgroud above the classic one for the popup's*/

#popup-overlay{
	overflow: auto;
	  position:fixed;
	  top:0;
	  left:0;
	  right: 0;
	  bottom: 0;
	  background:rgba(6, 6, 6, 0.707);
	color: rgb(182, 173, 173);
	  z-index:98;
	display: none;
  }
  
#popup-overlay.open{
	  display: block !important;
  }
  
#popup-overlay-above-all
{
	position:fixed;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	background:rgba(6, 6, 6, 0.713);
	color: rgb(182, 173, 173);
	z-index:1001;
	display: none;
	overflow-y:scroll !important;
}
  
  #popup-overlay-above-all.open{
	  display: block !important;
  }

  /* Popup's Window*/

.popup-content
{
	max-width: 900px;
	width:100%;
	padding: 30px;
	box-sizing:border-box;
	background: #1e212a;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
  	border-radius: 20px;
  	border: 2px solid white;
}

/* Specific 2FA popup */

.popup-2fa {
	max-width: 900px;
	width:100%;
	padding: 30px;
	box-sizing:border-box;
	background: #1e212a;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
  	border-radius: 20px;
  	border: 2px solid white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.popup-2fa button {
    margin-top: 10px; 
}

.popup-2fa #qr-code-container img {
	margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 4px solid #000;
}


.popup-content-register
{
	max-width: 900px;
	width:100%;
	padding: 30px;
	box-sizing:border-box;
	background: #1e212a;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
  	border-radius: 20px;
  	border: 2px solid white;
	@media screen and (max-width: 750px) 
	{
		top: 70%;
	};
	@media screen and (max-height: 750px) 
	{
		top: 70%;
	};
}



.popup-content-login
{
	max-width: 900px;
	width:100%;
	padding: 30px;
	box-sizing:border-box;
	background: #1e212a;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
  	border-radius: 20px;
  	border: 2px solid white;
}

.registetimg
{
	
	max-width: 100%;
	min-width: 300px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
}

@media screen and (max-height: 600px) {
	.resizeimgregister {
	  display: none;
	}
  }

@media screen and (max-width: 900px) {
	.resizeimgregister {
	  display: none;
	}
  }

/*maxwidth and maxheight for the login image*/
@media screen and (max-width: 600px) {
	.resizeimglogin {
	  display: none;
	}
  }

@media screen and (max-height: 600px) {
	.resizeimglogin {
	  display: none;
	}
  }

.statfriend
{
	text-align: center;
	width:auto;
	padding: 30px;
	box-sizing: border-box;
	background: black;
  	border-radius: 20px;
  	border: 2px solid white;
}

.friendvsfriendp1
{
	text-align: center;
	width:auto;
	padding: 30px;
	box-sizing: border-box;
	background: #1e212a;
  	border-radius: 20px;
  	border: 2px solid white;
	color: rgb(182, 173, 173);
}

.friendvsfriendp2
{
	text-align: center;
	width:auto;
	padding: 30px;
	box-sizing: border-box;
	background: #1e212a;
  	border-radius: 20px;
  	border: 2px solid white;
	color: rgb(182, 173, 173);
}

.friendvslogo
{
	text-align: center;
	width:auto;
	padding: 30px;
	top: 50%;
	left: 50%;
	transform: translate(0%,50%);
	box-sizing: border-box;
	background: linear-gradient(260deg, #00000000, #8c161600);
  	border-radius: 20px;
	color: rgb(182, 173, 173);
	@media screen and (max-width: 750px) 
	{
		transform: translate(0%,0%);
	};
}

#logout:hover .logout-text {
    display: inline;
}

.popup-content-max
{
    display: block;
    max-width: 700px;
    width:100%;
    max-height: 700px;
    padding: 30px;
    box-sizing:border-box;
    background: #1e212a;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
      border-radius: 20px;
      border: 2px solid white;
    z-index: 99999999;
    color : white;
}

