<div class="background-profil" class="py-5 bg-image-full" id="cover">
<div id="popup-overlay" class="open">
    <div class="popup-content">
        <h1>Disable 2FA</h1>
        <p>To disable 2FA, please enter the OTP from your Google Authenticator app.</p>
        
        <form id="disable-2fa-form" method="post">
            <input type="text" name="otp_token" placeholder="Enter OTP" required>
            <button type="button" class="cancelbtn" onclick="deactivate2FA()">Disable 2FA</button>
        </form>
    </div>
</div>
</div>
