<!DOCTYPE html>
	{% csrf_token %}
<div class="background-profil" class="py-5 bg-image-full" id="cover">
	<div id="popup-overlay" class=open>
		<div class="popup-content">
			<div class = "clearfix">
				<h1>Password</h1>
			</div>
			<p><h3>Change your password</h3></p>
			<form id="passForm" action="/api/submit-pass" method="POST">
				<label for="password_id"><h5>Old password</h5></label>
				<input type="password" class="form-control" name="password" id="password_id" required>
				<p></p>
				<label for="new_password_id"><h5>New password</h5></label>
				<input type="password" class="form-control" name="new_password" id="new_password_id" required>
				<label for="confirm_password_id"><h5>Confirm new password</h5></label>
				<input type="password"  class="form-control" name="confirm_password" id="confirm_password_id" required>
				<p></p>
				<div class = "clearfix">
					<button type="submit" class="cancelbtn">Submit</button>
				</div>
			</form>
			<a class="popup-exit" onclick="navigate(event,'/profile')">Close</a>
		</div>
	</div>
</div>

